output/-_-TASLAK.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Anasayfa | Fikiron</title>
    <meta name="description" content="Anasayfa description"/>
    <meta name="keywords" content="Anasayfa keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link rel="stylesheet" href="public/dist/css/style.css"/>
  </head>
  <body><!-- Header start here -->
    <header>
      <div class="container"><a class="headerLogo" href="index.html" title="Fikiron"><img src="public/dist/img/fikiron-logo-white.png"/></a>
        <!--a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
        img(src=prefix + "/img/icon-arrow-right-white-small.png")
        
        --><a class="toggleMenu megaMenuButton" href="#"><span></span><span></span><span></span></a>
      </div>
    </header>
    <nav id="mainMenu">
      <ul>
        <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
        <li><a href="portfoy.html">PORTFÖY</a></li>
        <li><a href="takim.html">TAKIM</a></li>
        <li><a href="girisimciye-kattiklarimiz.html">GİRİŞİMCİYE KATTIKLARIMIZ</a></li>
        <li><a href="partnerlerimiz.html">PARTNERLER</a></li>
        <li class="showMobile"><a href="yatirim-basvurusu.html">YATIRIM BAŞVURUSU</a></li>
        <li><a href="iletisim.html">İLETİŞİM</a></li>
        <li><a class="social" href="#"><i class="fa fa-facebook"></i></a><a class="social" href="#"><i class="fa fa-twitter"></i></a><a class="social" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="sponsorWrapper">
        <div class="center">
          <h3 class="title title-third">YATIRIM BAŞVURUSU</h3>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="link" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </div>
    </nav>
    <main>
      <section class="fullscreen mainSliderWrapper notOpacity">
        <div class="sliderOverlay"></div>
        <div class="mainSlider centerfix">
          <ul class="slides">
            <li style="background-image: url(public/dist/img/content/slider/1.jpg)"></li>
          </ul>
        </div>
        <div class="content">
          <h1 class="pageTitle">Our Portfolio</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </section>
      <section class="centerfix fullscreen dTable portfolioList">
        <div class="portfolioItem"><img src="public/dist/img/content/fintech-icon.png"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a class="link" href="#">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
        <div class="portfolioItem"><img src="public/dist/img/content/fintech-icon.png"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a class="link" href="#">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
        <div class="portfolioItem"><img src="public/dist/img/content/fintech-icon.png"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a class="link" href="#">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
        <div class="portfolioItem"><img src="public/dist/img/content/fintech-icon.png"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a class="link" href="#">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
        <div class="portfolioItem"><img src="public/dist/img/content/fintech-icon.png"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a class="link" href="#">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
        <div class="portfolioItem"><img src="public/dist/img/content/fintech-icon.png"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a class="link" href="#">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
        <div class="portfolioItem"><img src="public/dist/img/content/fintech-icon.png"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a class="link" href="#">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
        <div class="portfolioItem"><img src="public/dist/img/content/fintech-icon.png"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a class="link" href="#">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </section>
      <section class="centerfix subOrangeManshet text-center">
        <div class="container">
          <h4 class="title title-primary">BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?</h4>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="goToPage" href="#"><img src="public/dist/img/icon-arrow-right-white.png"/></a>
        </div>
      </section>
    </main><!-- Footer start here -->
    <footer class="centerfix">
      <div class="container"><a class="footerLink" href="index.html"><img src="public/dist/img/fikiron-logo-gray.png" alt="Fikiron"/></a>
        <nav class="footerMenu">
          <ul>
            <li><a href="gizlilik-sozlesmesi.html" title="Gizlilik">Gizlilik</a></li>
            <li><a href="sss.html" title="Sık Sorulan Sorular">Sık Sorulan Sorular</a></li>
            <li><a href="iletisim.html" title="İletişim">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="public/dist/js/bundle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script>console.log('custom js')</script>
  </body>
</html>

views/-_-TASLAK.pug
extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/slider/1.jpg)")
		.content
			h1.pageTitle Our Portfolio
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	section.centerfix.fullscreen.dTable.portfolioList
		- for (var i=0; i < 8; i++)
			.portfolioItem
				img(src=prefix + "/img/content/fintech-icon.png")
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				a.link(href="#") VISIT WEB SITE
					img(src=prefix + "/img/icon-arrow-right-orange-small.png")


	section.centerfix.subOrangeManshet.text-center
		.container
			h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="#")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts
	script.
		console.log('custom js')
