output/girisimciye-kattiklarimiz.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Girişimciye Kattıklarımız | Fikiron</title>
    <meta name="description" content="Girişimciye Kattıklarımız"/>
    <meta name="keywords" content="Girişimciye Kattıklarımız"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link rel="stylesheet" href="public/dist/css/style.css"/>
  </head>
  <body><!-- Header start here -->
    <header>
      <div class="container"><a class="headerLogo" href="index.html" title="Fikiron"><img src="public/dist/img/fikiron-logo-white.png"/></a>
        <!--a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
        img(src=prefix + "/img/icon-arrow-right-white-small.png")
        
        --><a class="toggleMenu megaMenuButton" href="#"><span></span><span></span><span></span></a>
      </div>
    </header>
    <nav id="mainMenu">
      <ul>
        <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
        <li><a href="portfoy.html">PORTFÖY</a></li>
        <li><a href="takim.html">TAKIM</a></li>
        <li><a href="girisimciye-kattiklarimiz.html">GİRİŞİMCİYE KATTIKLARIMIZ</a></li>
        <li><a href="partnerlerimiz.html">PARTNERLER</a></li>
        <li class="showMobile"><a href="yatirim-basvurusu.html">YATIRIM BAŞVURUSU</a></li>
        <li><a href="iletisim.html">İLETİŞİM</a></li>
        <li><a class="social" href="#"><i class="fa fa-facebook"></i></a><a class="social" href="#"><i class="fa fa-twitter"></i></a><a class="social" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="sponsorWrapper">
        <div class="center">
          <h3 class="title title-third">YATIRIM BAŞVURUSU</h3>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="link" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </div>
    </nav>
    <main>
      <section class="fullscreen mainSliderWrapper notOpacity">
        <div class="sliderOverlay"></div>
        <div class="mainSlider centerfix">
          <ul class="slides">
            <li style="background-image: url(public/dist/img/content/our-supports/slide-img.jpg)"></li>
          </ul>
        </div>
        <div class="content">
          <h1 class="pageTitle">Fikiron değer katar!</h1>
          <!--p Yeteneği ve fikri erken keşfeden Fikiron, ilk günde kurduğu yakınlığı ‘unicorn’ zamanı geldiğinde de hissettirir –-->
        </div>
      </section><!-- LİSTE BAŞLANGIÇ -->
      <section class="fullscreen centerfix ourSupportsItem whiteSection">
        <div class="imageBlock fullscreen" style="background-image: url(public/dist/img/content/our-supports/mentorluk-is-bilgisi.jpg)">
          <div class="centerBlock">
            <h2 class="anim anim-1 title title-third title-white title-line-height">MENTORLUK VE İŞ BİLGİSİ <br>(PAZARLAMA, İŞ MODELLEMESİ, İŞ GELİŞTİRME)</h2>
          </div>
        </div>
        <div class="itemContent fullscreen dTable">
          <div class="vMiddle">
            <h3 class="anim anim-4 title title-second">xxxxxxxxx</h3>
            <p class="anim anim-5">Yxxxxxxxxxx</p>
          </div>
        </div>
      </section>
      <section class="fullscreen centerfix ourSupportsItem whiteSection">
        <div class="itemContent fullscreen dTable">
          <div class="vMiddle">
            <h3 class="anim anim-4 title title-second">xxxxxxxxx</h3>
            <p class="anim anim-5">Yxxxxxxxxxx</p>
          </div>
        </div>
        <div class="imageBlock fullscreen" style="background-image: url(public/dist/img/content/our-supports/ofis-ek-ik.jpg)">
          <div class="centerBlock">
            <h2 class="anim anim-1 title title-third title-white title-line-height">OFİS VE EK İNSAN KAYNAKLARI</h2>
          </div>
        </div>
      </section>
      <section class="fullscreen centerfix ourSupportsItem whiteSection">
        <div class="imageBlock fullscreen" style="background-image: url(public/dist/img/content/our-supports/yatirimci-aglari.jpg)">
          <div class="centerBlock">
            <h2 class="anim anim-1 title title-third title-white title-line-height">YATIRIMCI AĞLARINA VE GLOBALE TAŞIMAK</h2>
          </div>
        </div>
        <div class="itemContent fullscreen dTable">
          <div class="vMiddle">
            <h3 class="anim anim-4 title title-second">xxxxxxxxx</h3>
            <p class="anim anim-5">Yxxxxxxxxxx</p>
          </div>
        </div>
      </section>
      <section class="fullscreen centerfix ourSupportsItem whiteSection">
        <div class="itemContent fullscreen dTable">
          <div class="vMiddle">
            <h3 class="anim anim-4 title title-second">xxxxxxxxx</h3>
            <p class="anim anim-5">Yxxxxxxxxxx</p>
          </div>
        </div>
        <div class="imageBlock fullscreen" style="background-image: url(public/dist/img/content/our-supports/musteri-kazandirmak.jpg)">
          <div class="centerBlock">
            <h2 class="anim anim-1 title title-third title-white title-line-height">MÜŞTERİ KAZANDIRMAK (NETWORK)</h2>
          </div>
        </div>
      </section><!-- LİSTE BİTİŞ -->
      <section class="centerfix subOrangeManshet text-center">
        <div class="container"><a href="yatirim-basvurusu.html">
            <h4 class="title title-primary">BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?</h4></a>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="goToPage" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-white.png"/></a>
        </div>
      </section>
    </main><!-- Footer start here -->
    <footer class="centerfix">
      <div class="container"><a class="footerLink" href="index.html"><img src="public/dist/img/fikiron-logo-gray.png" alt="Fikiron"/></a>
        <nav class="footerMenu">
          <ul>
            <li><a href="gizlilik-sozlesmesi.html" title="Gizlilik">Gizlilik</a></li>
            <li><a href="sss.html" title="Sık Sorulan Sorular">Sık Sorulan Sorular</a></li>
            <li><a href="iletisim.html" title="İletişim">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="public/dist/js/bundle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script>console.log('custom js')</script>
  </body>
</html>

views/girisimciye-kattiklarimiz.pug
extends layout/layout

block head
	- var title = "Girişimciye Kattıklarımız";
	- var description = "Girişimciye Kattıklarımız";
	- var keywords = "Girişimciye Kattıklarımız";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/our-supports/slide-img.jpg)")
		.content
			h1.pageTitle Fikiron değer katar!
			//p Yeteneği ve fikri erken keşfeden Fikiron, ilk günde kurduğu yakınlığı ‘unicorn’ zamanı geldiğinde de hissettirir –

	<!-- LİSTE BAŞLANGIÇ -->
	section.fullscreen.centerfix.ourSupportsItem.whiteSection
		.imageBlock.fullscreen(style="background-image: url(" + prefix + "/img/content/our-supports/mentorluk-is-bilgisi.jpg)")
			.centerBlock
				h2.anim.anim-1.title.title-third.title-white.title-line-height MENTORLUK VE İŞ BİLGİSİ <br>(PAZARLAMA, İŞ MODELLEMESİ, İŞ GELİŞTİRME)

		.itemContent.fullscreen.dTable
			.vMiddle
				h3.anim.anim-4.title.title-second xxxxxxxxx
				p.anim.anim-5 Yxxxxxxxxxx


	section.fullscreen.centerfix.ourSupportsItem.whiteSection
		.itemContent.fullscreen.dTable
			.vMiddle
				h3.anim.anim-4.title.title-second xxxxxxxxx
				p.anim.anim-5 Yxxxxxxxxxx

		.imageBlock.fullscreen(style="background-image: url(" + prefix + "/img/content/our-supports/ofis-ek-ik.jpg)")
			.centerBlock
				h2.anim.anim-1.title.title-third.title-white.title-line-height OFİS VE EK İNSAN KAYNAKLARI

	section.fullscreen.centerfix.ourSupportsItem.whiteSection
		.imageBlock.fullscreen(style="background-image: url(" + prefix + "/img/content/our-supports/yatirimci-aglari.jpg)")
			.centerBlock
				h2.anim.anim-1.title.title-third.title-white.title-line-height YATIRIMCI AĞLARINA VE GLOBALE TAŞIMAK

		.itemContent.fullscreen.dTable
			.vMiddle
				h3.anim.anim-4.title.title-second xxxxxxxxx
				p.anim.anim-5 Yxxxxxxxxxx


	section.fullscreen.centerfix.ourSupportsItem.whiteSection
		.itemContent.fullscreen.dTable
			.vMiddle
				h3.anim.anim-4.title.title-second xxxxxxxxx
				p.anim.anim-5 Yxxxxxxxxxx

		.imageBlock.fullscreen(style="background-image: url(" + prefix + "/img/content/our-supports/musteri-kazandirmak.jpg)")
			.centerBlock
				h2.anim.anim-1.title.title-third.title-white.title-line-height MÜŞTERİ KAZANDIRMAK (NETWORK)

	<!-- LİSTE BİTİŞ -->


	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts
	script.
		console.log('custom js')
