views/gizlilik-sozlesmesi.pug
extends layout/layout

block head
	- var title = "Gizlilik Sözleşmesi";
	- var description = "Gizlilik Sözleşmesi";
	- var keywords = "Gizlilik Sözleşmesi";
	- var isWhitePage = true;
	- var noPadding = true;

block content

	section.centerfix.staticPage.whiteSection.text-center
		.container
			h1.title.title-third.title-black.title-line-height Gizlilik Sözleşmesi
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper porttitor orci. Morbi placerat in libero vulputate ultricies. Ut id mauris justo. Mauris augue odio, condimentum nec lorem ac, vulputate laoreet sem. Praesent sit amet magna malesuada, tempor leo quis, pellentesque nisi. Phasellus rhoncus elit vel dolor sodales, sit amet placerat mauris maximus. Integer lacinia ligula vitae rutrum malesuada. Maecenas tempus vel nisi a ornare. Suspendisse in purus neque. Nullam ex nisi, auctor vitae fermentum sed, sodales tincidunt ipsum. Etiam pretium, odio quis elementum mattis, libero lectus tincidunt diam, sit amet dapibus justo neque vitae lectus. Curabitur ut venenatis quam, in viverra felis. Donec pharetra nibh vel orci dapibus fringilla. Vivamus sed enim at orci ullamcorper aliquam at ut metus.

			p Suspendisse sit amet libero sed erat fringilla bibendum consequat vel arcu. Ut eleifend dolor pulvinar eros faucibus iaculis. Donec gravida massa ultrices odio dictum, eget dignissim nulla viverra. Sed porta porttitor finibus. Mauris condimentum porttitor nisl eget pretium. Nullam tristique commodo sem, non accumsan augue dignissim ac. Vivamus non mollis massa. Suspendisse ultricies maximus tellus quis ornare. Nulla bibendum pretium scelerisque. Phasellus accumsan tellus vel cursus euismod. Sed porttitor suscipit metus, sed lacinia nisl porta vitae. Nulla efficitur hendrerit nibh.

			p Fusce in commodo nisl. Etiam sit amet nisi cursus, porta ex at, fermentum erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam ut tempus magna, a blandit dui. Pellentesque molestie, nulla vel molestie laoreet, nisi diam auctor ex, quis sagittis risus sapien consequat risus. Nam cursus elit pellentesque magna hendrerit imperdiet. Proin facilisis ante ut augue pretium scelerisque. Vivamus a finibus magna, sit amet finibus est. Etiam sed risus velit. Ut nec ligula ac diam semper faucibus in eu metus. Vestibulum ante ipsum primis in faucibus.

			p Nulla porttitor gravida tellus eget elementum. Vestibulum ullamcorper libero felis, nec vulputate lorem scelerisque ut. Curabitur sit amet turpis massa. In nulla lectus, efficitur interdum felis ut, finibus imperdiet ante. Vestibulum vestibulum nulla quis tellus sagittis efficitur. Phasellus viverra sem lorem, at lacinia velit lacinia vel. Aenean id euismod lorem. Sed porta convallis bibendum. Maecenas non urna nec nisi ornare feugiat. Pellentesque pharetra sed libero ut tristique. Nam et finibus quam.

output/gizlilik-sozlesmesi.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Gizlilik Sözleşmesi | Fikiron</title>
    <meta name="description" content="Gizlilik Sözleşmesi"/>
    <meta name="keywords" content="Gizlilik Sözleşmesi"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link rel="stylesheet" href="public/dist/css/style.css"/>
  </head>
  <body class="clearPadding"><!-- Header start here -->
    <header class="darkHeader">
      <div class="container"><a class="headerLogo" href="index.html" title="Fikiron"><img src="public/dist/img/fikiron-logo.png"/></a>
        <!--a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
        img(src=prefix + "/img/icon-arrow-right-white-small.png")
        
        --><a class="toggleMenu megaMenuButton" href="#"><span></span><span></span><span></span></a>
      </div>
    </header>
    <nav id="mainMenu">
      <ul>
        <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
        <li><a href="portfoy.html">PORTFÖY</a></li>
        <li><a href="takim.html">TAKIM</a></li>
        <li><a href="girisimciye-kattiklarimiz.html">GİRİŞİMCİYE KATTIKLARIMIZ</a></li>
        <li><a href="partnerlerimiz.html">PARTNERLER</a></li>
        <li class="showMobile"><a href="yatirim-basvurusu.html">YATIRIM BAŞVURUSU</a></li>
        <li><a href="iletisim.html">İLETİŞİM</a></li>
        <li><a class="social" href="#"><i class="fa fa-facebook"></i></a><a class="social" href="#"><i class="fa fa-twitter"></i></a><a class="social" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="sponsorWrapper">
        <div class="center">
          <h3 class="title title-third">YATIRIM BAŞVURUSU</h3>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="link" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </div>
    </nav>
    <main>
      <section class="centerfix staticPage whiteSection text-center">
        <div class="container">
          <h1 class="title title-third title-black title-line-height">Gizlilik Sözleşmesi</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper porttitor orci. Morbi placerat in libero vulputate ultricies. Ut id mauris justo. Mauris augue odio, condimentum nec lorem ac, vulputate laoreet sem. Praesent sit amet magna malesuada, tempor leo quis, pellentesque nisi. Phasellus rhoncus elit vel dolor sodales, sit amet placerat mauris maximus. Integer lacinia ligula vitae rutrum malesuada. Maecenas tempus vel nisi a ornare. Suspendisse in purus neque. Nullam ex nisi, auctor vitae fermentum sed, sodales tincidunt ipsum. Etiam pretium, odio quis elementum mattis, libero lectus tincidunt diam, sit amet dapibus justo neque vitae lectus. Curabitur ut venenatis quam, in viverra felis. Donec pharetra nibh vel orci dapibus fringilla. Vivamus sed enim at orci ullamcorper aliquam at ut metus.</p>
          <p>Suspendisse sit amet libero sed erat fringilla bibendum consequat vel arcu. Ut eleifend dolor pulvinar eros faucibus iaculis. Donec gravida massa ultrices odio dictum, eget dignissim nulla viverra. Sed porta porttitor finibus. Mauris condimentum porttitor nisl eget pretium. Nullam tristique commodo sem, non accumsan augue dignissim ac. Vivamus non mollis massa. Suspendisse ultricies maximus tellus quis ornare. Nulla bibendum pretium scelerisque. Phasellus accumsan tellus vel cursus euismod. Sed porttitor suscipit metus, sed lacinia nisl porta vitae. Nulla efficitur hendrerit nibh.</p>
          <p>Fusce in commodo nisl. Etiam sit amet nisi cursus, porta ex at, fermentum erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam ut tempus magna, a blandit dui. Pellentesque molestie, nulla vel molestie laoreet, nisi diam auctor ex, quis sagittis risus sapien consequat risus. Nam cursus elit pellentesque magna hendrerit imperdiet. Proin facilisis ante ut augue pretium scelerisque. Vivamus a finibus magna, sit amet finibus est. Etiam sed risus velit. Ut nec ligula ac diam semper faucibus in eu metus. Vestibulum ante ipsum primis in faucibus.</p>
          <p>Nulla porttitor gravida tellus eget elementum. Vestibulum ullamcorper libero felis, nec vulputate lorem scelerisque ut. Curabitur sit amet turpis massa. In nulla lectus, efficitur interdum felis ut, finibus imperdiet ante. Vestibulum vestibulum nulla quis tellus sagittis efficitur. Phasellus viverra sem lorem, at lacinia velit lacinia vel. Aenean id euismod lorem. Sed porta convallis bibendum. Maecenas non urna nec nisi ornare feugiat. Pellentesque pharetra sed libero ut tristique. Nam et finibus quam.</p>
        </div>
      </section>
    </main><!-- Footer start here -->
    <footer class="centerfix">
      <div class="container"><a class="footerLink" href="index.html"><img src="public/dist/img/fikiron-logo-gray.png" alt="Fikiron"/></a>
        <nav class="footerMenu">
          <ul>
            <li><a href="gizlilik-sozlesmesi.html" title="Gizlilik">Gizlilik</a></li>
            <li><a href="sss.html" title="Sık Sorulan Sorular">Sık Sorulan Sorular</a></li>
            <li><a href="iletisim.html" title="İletişim">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="public/dist/js/bundle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </body>
</html>
