views/hakkimizda.pug
extends layout/layout

block head
	- var title = "Hakkımızda";
	- var description = "Hakkımızda";
	- var keywords = "Hakkımızda";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/about-us/slide-img.jpg)")
		.content
			h1.pageTitle Büyük fikirler yüksekten uçar
			//p Yeteneği ve fikri erken keşfeden Fikiron, ilk günde kurduğu yakınlığı ‘unicorn’ zamanı geldiğinde de hissettirir –


	section.centerfix.dTable.aboutUs.whiteSection
		.container
			.layoutLeftContent.fullscreen.dTable
				.vMiddle
					//h1.title.title-second.title-line-height Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					p Fikiron, grafikte konumlanmış bölge olan tohum aşaması ile erken aşama aralığındaki girişimlere yatırım yapar. Yani, iş fikrinin  ve MVP’nin olduğu, fatura kesmeye başlayan veya başlamak üzere olan, henüz FFF haricinde maksimum 1 tane tohum yatırımı kapamış startup’lardır.

			.layoutRightContent.dTable.fullscreen
				.vMiddle
					img.img-responsive(src=prefix + "/img/content/about-us/graphic.png")

	section.centerfix.fullscreen.whiteSection
		.centerfix.fullscreen
			.numberOfWorks
				.centerContent
					.number 15
						small ADET
						.plus +
					p Yapılan Yatırım Sayısı
			.numberOfWorks
				.centerContent
					.number ₺300
						small MİLYON
						.plus +
					p Toplam Portföy Değeri
			.numberOfWorks
				.centerContent
					.number $1
						small MİLYON
						.plus +
					p Yönetilen para miktarı

	section.fullscreen.centerfix.sectionSlider.leftContent.noControlNav.ownerSlogans
		ul.slides
			li
				.imageBlock(style="background-image: url(" + prefix + "/img/content/team/1.jpg)")
					.centerBlock
						h2.anim.anim-1.title.title-primary ALPER AYDIN
						p.anim.anim-2 Kurucu Ortak
				.slideContent.dTable
					.vMiddle
						img.anim.anim-3.icon(src=prefix + "/img/content/quotes-icon.png")
						//h3.anim.anim-4.title.title-second FİKİRON BİR GİRİŞİMCİNİN EN DEĞERLİ <span>YOL ARKADAŞIDIR. </span>
						p.anim.anim-5 Fikiron olarak gelecek vaad eden fikirleri keşfediyor, onlara bilgimizle, networkümüzle, pazarlama yeteneklerimiz ve finansal gücümüzle değer katıyoruz.
			li
				.imageBlock(style="background-image: url(" + prefix + "/img/content/team/2.jpg)")
					.centerBlock
						h2.anim.anim-1.title.title-primary MUSTAFA SANDAL
						p.anim.anim-2 Kurucu Ortak
				.slideContent.dTable
					.vMiddle
						img.anim.anim-3.icon(src=prefix + "/img/content/quotes-icon.png")
						//h3.anim.anim-4.title.title-second FİKİRON BİR GİRİŞİMCİNİN EN DEĞERLİ <span>YOL ARKADAŞIDIR. </span>
						p.anim.anim-5 Fikiron fikrin ruhunu tetikler, girişimin ve girişimcinin özüne iner, parlatarak değer katmak için iş tecrübesini, çevresini, pazarlama kaslarını ve maddi destek imkanını daha parlak bir Türkiye için ortaya koyar.

			li
				.imageBlock(style="background-image: url(" + prefix + "/img/content/team/3.jpg)")
					.centerBlock
						h2.anim.anim-1.title.title-primary ALPAY ALPTEKİN
						p.anim.anim-2 Yönetim Kurulu Başkanı ve Yönetici Ortak
				.slideContent.dTable
					.vMiddle
						img.anim.anim-3.icon(src=prefix + "/img/content/quotes-icon.png")
						//h3.anim.anim-4.title.title-second Fikiron bir girişimcinin en değerli <span>yol arkadaşıdır. </span>
						p.anim.anim-5 Fikiron, hayalinizi gerçeğe, gerçeğinizi hayalinize dönüştürür.

			li
				.imageBlock(style="background-image: url(" + prefix + "/img/content/team/4.jpg)")
					.centerBlock
						h2.anim.anim-gulp1.title.title-primary YALÇIN SİSA
						p.anim.anim-2 Yönetim Kurulu Üyesi
				.slideContent.dTable
					.vMiddle
						img.anim.anim-3.icon(src=prefix + "/img/content/quotes-icon.png")
						//h3.anim.anim-4.title.title-second FİKİRON BİR GİRİŞİMCİNİN EN DEĞERLİ <span>YOL ARKADAŞIDIR. </span>
						p.anim.anim-5 Fikiron girişimcilik ekosistemine kaldıraç etkisi yaratmak için vardır.


	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts
	script.
		console.log('custom js')

output/hakkimizda.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Hakkımızda | Fikiron</title>
    <meta name="description" content="Hakkımızda"/>
    <meta name="keywords" content="Hakkımızda"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link rel="stylesheet" href="public/dist/css/style.css"/>
  </head>
  <body><!-- Header start here -->
    <header>
      <div class="container"><a class="headerLogo" href="index.html" title="Fikiron"><img src="public/dist/img/fikiron-logo-white.png"/></a>
        <!--a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
        img(src=prefix + "/img/icon-arrow-right-white-small.png")
        
        --><a class="toggleMenu megaMenuButton" href="#"><span></span><span></span><span></span></a>
      </div>
    </header>
    <nav id="mainMenu">
      <ul>
        <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
        <li><a href="portfoy.html">PORTFÖY</a></li>
        <li><a href="takim.html">TAKIM</a></li>
        <li><a href="girisimciye-kattiklarimiz.html">GİRİŞİMCİYE KATTIKLARIMIZ</a></li>
        <li><a href="partnerlerimiz.html">PARTNERLER</a></li>
        <li class="showMobile"><a href="yatirim-basvurusu.html">YATIRIM BAŞVURUSU</a></li>
        <li><a href="iletisim.html">İLETİŞİM</a></li>
        <li><a class="social" href="#"><i class="fa fa-facebook"></i></a><a class="social" href="#"><i class="fa fa-twitter"></i></a><a class="social" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="sponsorWrapper">
        <div class="center">
          <h3 class="title title-third">YATIRIM BAŞVURUSU</h3>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="link" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </div>
    </nav>
    <main>
      <section class="fullscreen mainSliderWrapper notOpacity">
        <div class="sliderOverlay"></div>
        <div class="mainSlider centerfix">
          <ul class="slides">
            <li style="background-image: url(public/dist/img/content/about-us/slide-img.jpg)"></li>
          </ul>
        </div>
        <div class="content">
          <h1 class="pageTitle">Büyük fikirler yüksekten uçar</h1>
          <!--p Yeteneği ve fikri erken keşfeden Fikiron, ilk günde kurduğu yakınlığı ‘unicorn’ zamanı geldiğinde de hissettirir –-->
        </div>
      </section>
      <section class="centerfix dTable aboutUs whiteSection">
        <div class="container">
          <div class="layoutLeftContent fullscreen dTable">
            <div class="vMiddle">
              <!--h1.title.title-second.title-line-height Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
              <p>Fikiron, grafikte konumlanmış bölge olan tohum aşaması ile erken aşama aralığındaki girişimlere yatırım yapar. Yani, iş fikrinin  ve MVP’nin olduğu, fatura kesmeye başlayan veya başlamak üzere olan, henüz FFF haricinde maksimum 1 tane tohum yatırımı kapamış startup’lardır.</p>
            </div>
          </div>
          <div class="layoutRightContent dTable fullscreen">
            <div class="vMiddle"><img class="img-responsive" src="public/dist/img/content/about-us/graphic.png"/></div>
          </div>
        </div>
      </section>
      <section class="centerfix fullscreen whiteSection">
        <div class="centerfix fullscreen">
          <div class="numberOfWorks">
            <div class="centerContent">
              <div class="number">15<small>ADET</small>
                <div class="plus">+</div>
              </div>
              <p>Yapılan Yatırım Sayısı</p>
            </div>
          </div>
          <div class="numberOfWorks">
            <div class="centerContent">
              <div class="number">₺300<small>MİLYON</small>
                <div class="plus">+</div>
              </div>
              <p>Toplam Portföy Değeri</p>
            </div>
          </div>
          <div class="numberOfWorks">
            <div class="centerContent">
              <div class="number">$1<small>MİLYON</small>
                <div class="plus">+</div>
              </div>
              <p>Yönetilen para miktarı</p>
            </div>
          </div>
        </div>
      </section>
      <section class="fullscreen centerfix sectionSlider leftContent noControlNav ownerSlogans">
        <ul class="slides">
          <li>
            <div class="imageBlock" style="background-image: url(public/dist/img/content/team/1.jpg)">
              <div class="centerBlock">
                <h2 class="anim anim-1 title title-primary">ALPER AYDIN</h2>
                <p class="anim anim-2">Kurucu Ortak</p>
              </div>
            </div>
            <div class="slideContent dTable">
              <div class="vMiddle"><img class="anim anim-3 icon" src="public/dist/img/content/quotes-icon.png"/>
                <!--h3.anim.anim-4.title.title-second FİKİRON BİR GİRİŞİMCİNİN EN DEĞERLİ <span>YOL ARKADAŞIDIR. </span>-->
                <p class="anim anim-5">Fikiron olarak gelecek vaad eden fikirleri keşfediyor, onlara bilgimizle, networkümüzle, pazarlama yeteneklerimiz ve finansal gücümüzle değer katıyoruz.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="imageBlock" style="background-image: url(public/dist/img/content/team/2.jpg)">
              <div class="centerBlock">
                <h2 class="anim anim-1 title title-primary">MUSTAFA SANDAL</h2>
                <p class="anim anim-2">Kurucu Ortak</p>
              </div>
            </div>
            <div class="slideContent dTable">
              <div class="vMiddle"><img class="anim anim-3 icon" src="public/dist/img/content/quotes-icon.png"/>
                <!--h3.anim.anim-4.title.title-second FİKİRON BİR GİRİŞİMCİNİN EN DEĞERLİ <span>YOL ARKADAŞIDIR. </span>-->
                <p class="anim anim-5">Fikiron fikrin ruhunu tetikler, girişimin ve girişimcinin özüne iner, parlatarak değer katmak için iş tecrübesini, çevresini, pazarlama kaslarını ve maddi destek imkanını daha parlak bir Türkiye için ortaya koyar.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="imageBlock" style="background-image: url(public/dist/img/content/team/3.jpg)">
              <div class="centerBlock">
                <h2 class="anim anim-1 title title-primary">ALPAY ALPTEKİN</h2>
                <p class="anim anim-2">Yönetim Kurulu Başkanı ve Yönetici Ortak</p>
              </div>
            </div>
            <div class="slideContent dTable">
              <div class="vMiddle"><img class="anim anim-3 icon" src="public/dist/img/content/quotes-icon.png"/>
                <!--h3.anim.anim-4.title.title-second Fikiron bir girişimcinin en değerli <span>yol arkadaşıdır. </span>-->
                <p class="anim anim-5">Fikiron, hayalinizi gerçeğe, gerçeğinizi hayalinize dönüştürür.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="imageBlock" style="background-image: url(public/dist/img/content/team/4.jpg)">
              <div class="centerBlock">
                <h2 class="anim anim-gulp1 title title-primary">YALÇIN SİSA</h2>
                <p class="anim anim-2">Yönetim Kurulu Üyesi</p>
              </div>
            </div>
            <div class="slideContent dTable">
              <div class="vMiddle"><img class="anim anim-3 icon" src="public/dist/img/content/quotes-icon.png"/>
                <!--h3.anim.anim-4.title.title-second FİKİRON BİR GİRİŞİMCİNİN EN DEĞERLİ <span>YOL ARKADAŞIDIR. </span>-->
                <p class="anim anim-5">Fikiron girişimcilik ekosistemine kaldıraç etkisi yaratmak için vardır.</p>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <section class="centerfix subOrangeManshet text-center">
        <div class="container"><a href="yatirim-basvurusu.html">
            <h4 class="title title-primary">BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?</h4></a>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="goToPage" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-white.png"/></a>
        </div>
      </section>
    </main><!-- Footer start here -->
    <footer class="centerfix">
      <div class="container"><a class="footerLink" href="index.html"><img src="public/dist/img/fikiron-logo-gray.png" alt="Fikiron"/></a>
        <nav class="footerMenu">
          <ul>
            <li><a href="gizlilik-sozlesmesi.html" title="Gizlilik">Gizlilik</a></li>
            <li><a href="sss.html" title="Sık Sorulan Sorular">Sık Sorulan Sorular</a></li>
            <li><a href="iletisim.html" title="İletişim">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="public/dist/js/bundle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script>console.log('custom js')</script>
  </body>
</html>
