views/index.pug
extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "fikiron";

block content

	section.fullscreen.mainSliderWrapper
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/slider/1.jpg)")
				li(style="background-image: url(" + prefix + "/img/content/slider/2.jpg)")
				li(style="background-image: url(" + prefix + "/img/content/slider/3.jpg)")
				li(style="background-image: url(" + prefix + "/img/content/slider/4.jpg)")
				li(style="background-image: url(" + prefix + "/img/content/slider/5.jpg)")
				li(style="background-image: url(" + prefix + "/img/content/slider/6.jpg)")

		ul.slideTexts.slide-1
			li(onclick="$('.mainSlider').flexslider(0)") BIG DATAYA DEĞER KATAR.
			li(onclick="$('.mainSlider').flexslider(1)") BLOCKCHAIN'E DEĞER KATAR.
			li(onclick="$('.mainSlider').flexslider(2)") İŞ BİLGİSİ KATAR.
			li(onclick="$('.mainSlider').flexslider(3)") DIGITAL CONTENT'E DEĞER KATAR.
			li(onclick="$('.mainSlider').flexslider(4)") E-COMMERCE'E DEĞER KATAR.
			li(onclick="$('.mainSlider').flexslider(5)") INNOVATION'A DEĞER KATAR.


	section.fullscreen.centerfix.manshetBlock
		.content
			h3.title.title-primary <span>FİKİRON,</span> SİZE DEĞER KATAR.
			p Yatırımcıysanız, doğru fırsatları karşınıza çıkararak portföyünüze değer katarız. Girişimciyseniz, fikrinizi geliştirip size dünya çapında değer katarız. Hayalinizi gerçeğe, gerçeğinizi hayalinize dönüştürürüz.
			a.moreButton(href="hakkimizda.html") +

	section.centerfix.fullscreen.dTable.servicesSection
		.vMiddle.servicesItem
			img(src=prefix + "/img/content/fintech-icon.png")
			h3.title.title-primary.title-line-height FINTECH
			p Fikiron olarak, Blockchain teknolojisi başta olmak üzere, yeni teknolojileri kullanarak, finansal hizmetlere herkesin, her yerden ve çok daha kolay ulaşımını sağlamak amaçlı çözümler geliştiyoruz. Coiny uygulamamız ile Türkiye’nin en kolay, en hızlı, en güvenilir crypto currency işlemlerini gerçekleştiriyoruz.
		.vMiddle.servicesItem
			img(src=prefix + "/img/content/bigdata-icon.png")
			h3.title.title-primary.title-line-height BIG DATA & ADTECH
			p Günümüzde şirketlerin bir numaralı odağı Big Data. Her sektörde, elindeki veriyi doğru kullanan şirket büyük fark yaratacak. Fikiron’un 1DMP (Data Management Platform)’u   sayesinde şirketlerin iç ve dış data kaynaklarını bir araya getiriyoruz, anlamlandırıyoruz ve iş sonuçlarını arttıracak iç görüleri sağlıyoruz.
		.vMiddle.servicesItem
			img(src=prefix + "/img/content/e-commerce-icon.png")
			h3.title.title-primary.title-line-height E-COMMERCE & MARKETPLACE
			p E-ticaret sitelerinin ve market yeri çözümlerinin pazardaki paylarını giderek artırdığı son 7 senede, bu alanda yapılan yatırımların daha hızlı geri dönüşü olduğunu gözlemliyoruz. Fikiron olarak bu alanda da yeni projeler geliştiriyoruz.
		.vMiddle.servicesItem
			img(src=prefix + "/img/content/innovation-icon.png")
			h3.title.title-primary.title-line-height INNOVATION & INCUBATION
			p Inovasyonun tüm süreçlerine olan hakimiyetimiz sayesinde, çoklu inovasyon projelerini yönetebilecek mükemmeliyet seviyesine ulaştık.  Bu uzmanlığımızı sergileyeceğimiz Türkiye’nin en büyük Teknoloji ve Inovasyon Merkezi’nin çok yakında açıklayacağız.
		.vMiddle.servicesItem
			img(src=prefix + "/img/content/digital-icon.png")
			h3.title.title-primary.title-line-height DIGITAL CONTENT
			p Hayatımızın her anını kaplayan dijital ekranlar sayesinde artık çok daha fazla içerik tüketiyoruz. Fikiron olarak, bünyemizdeki Farq Content Empire ve Bubi Animasyon gibi 2 prodüksiyon şirketi ile çizgi film projeleri, TV Programları ve uzun metraj sinema filmleri üretiyoruz. Portföyümüzde yer alan yazılım ajansımız Frank da, şirketlere ve markalara yazılım hizmeti sunuyor, göz alıcı websiteleri ve uygulamalar üretiyor.


	section.centerfix.fullscreen.whiteSection
		.centerfix.fullscreen
			.numberOfWorks
				.centerContent
					.number 15
						small ADET
						.plus +
					p Yapılan Yatırım Sayısı
			.numberOfWorks
				.centerContent
					.number ₺300
						small MİLYON
						.plus +
					p Toplam Portföy Değeri
			.numberOfWorks
				.centerContent
					.number $1
						small MİLYON
						.plus +
					p Yönetilen para miktarı

	section.fullscreen.centerfix.sectionSlider.rightContent.darkSlider
		ul.slides
			li
				.slideContent
					.centerBlock
						img.anim.anim-1.logo(src=prefix + "/img/content/references/coiny.png")

				.imageBlock.dTable(style="background-image: url("+ prefix + "/img/content/references/coiny-img.png)")
					.centerBlock
						p.anim.anim-1 Kripto para almanın en güvenilir, en kolay ve en hızlı yolunu sunan bir mobil uygulamadır.
						h5.anim.anim-2.title.title-primary COINY
			li
				.slideContent
					.centerBlock
						img.anim.anim-1.logo(src=prefix + "/img/content/references/1dmp.png")

				.imageBlock.dTable(style="background-image: url(" + prefix + "/img/content/references/1dmp-img.png)")
					.centerBlock
						p.anim.anim-1 Data Management Platform (DMP), big data konusunda en gelişmiş çözüm. Şirketlerin birincil datasını derleyen, anlamlandıran ve yorumlayan 1DMP, tekilleştirilmiş verileri ikincil ve üçüncül data kaynakları ile birleştirerek, pazarlama eforlarına hem etkinlik, hem de verimlilik kazandırır.
						h5.anim.anim-2.title.title-primary 1DMP
			li
				.slideContent
					.centerBlock
						img.anim.anim-1.logo(src=prefix + "/img/content/references/ringpara.png")

				.imageBlock.dTable(style="background-image: url(" + prefix + "/img/content/references/ringpara-img.png)")
					.centerBlock
						p.anim.anim-1 Micro-lokasyon, gerçek zamanlı pazarlama, big data yönetimi gibi modern pazarlamanın bütün yetkinliklerini aynı anda kullanarak, markaları müşterileri ile buluşturan Harikalar Dünyası, Türkiye Pazarlama Dünyasının en önemli ürünü olmaya aday.
						h5.anim.anim-2.title.title-primary Harikalar Dünyası
			li
				.slideContent
					.centerBlock
						img.anim.anim-1.logo(src=prefix + "/img/content/references/frank.png")

				.imageBlock.dTable(style="background-image: url(" + prefix + "/img/content/references/frank-img.png)")
					.centerBlock
						p.anim.anim-1 Web ve mobil uygulamalar geliştiren, UX/UI tasarım hizmetleri veren, şirketlerin dijital ihtiyaçlarına yönelik özel çözümler sunan bir yazılım evidir.
						h5.anim.anim-2.title.title-primary FRANK

	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")

output/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Anasayfa | Fikiron</title>
    <meta name="description" content="Anasayfa description"/>
    <meta name="keywords" content="fikiron"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link rel="stylesheet" href="public/dist/css/style.css"/>
  </head>
  <body><!-- Header start here -->
    <header>
      <div class="container"><a class="headerLogo" href="index.html" title="Fikiron"><img src="public/dist/img/fikiron-logo-white.png"/></a>
        <!--a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
        img(src=prefix + "/img/icon-arrow-right-white-small.png")
        
        --><a class="toggleMenu megaMenuButton" href="#"><span></span><span></span><span></span></a>
      </div>
    </header>
    <nav id="mainMenu">
      <ul>
        <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
        <li><a href="portfoy.html">PORTFÖY</a></li>
        <li><a href="takim.html">TAKIM</a></li>
        <li><a href="girisimciye-kattiklarimiz.html">GİRİŞİMCİYE KATTIKLARIMIZ</a></li>
        <li><a href="partnerlerimiz.html">PARTNERLER</a></li>
        <li class="showMobile"><a href="yatirim-basvurusu.html">YATIRIM BAŞVURUSU</a></li>
        <li><a href="iletisim.html">İLETİŞİM</a></li>
        <li><a class="social" href="#"><i class="fa fa-facebook"></i></a><a class="social" href="#"><i class="fa fa-twitter"></i></a><a class="social" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="sponsorWrapper">
        <div class="center">
          <h3 class="title title-third">YATIRIM BAŞVURUSU</h3>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="link" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </div>
    </nav>
    <main>
      <section class="fullscreen mainSliderWrapper">
        <div class="sliderOverlay"></div>
        <div class="mainSlider centerfix">
          <ul class="slides">
            <li style="background-image: url(public/dist/img/content/slider/1.jpg)"></li>
            <li style="background-image: url(public/dist/img/content/slider/2.jpg)"></li>
            <li style="background-image: url(public/dist/img/content/slider/3.jpg)"></li>
            <li style="background-image: url(public/dist/img/content/slider/4.jpg)"></li>
            <li style="background-image: url(public/dist/img/content/slider/5.jpg)"></li>
            <li style="background-image: url(public/dist/img/content/slider/6.jpg)"></li>
          </ul>
        </div>
        <ul class="slideTexts slide-1">
          <li onclick="$('.mainSlider').flexslider(0)">BIG DATAYA DEĞER KATAR.</li>
          <li onclick="$('.mainSlider').flexslider(1)">BLOCKCHAIN'E DEĞER KATAR.</li>
          <li onclick="$('.mainSlider').flexslider(2)">İŞ BİLGİSİ KATAR.</li>
          <li onclick="$('.mainSlider').flexslider(3)">DIGITAL CONTENT'E DEĞER KATAR.</li>
          <li onclick="$('.mainSlider').flexslider(4)">E-COMMERCE'E DEĞER KATAR.</li>
          <li onclick="$('.mainSlider').flexslider(5)">INNOVATION'A DEĞER KATAR.</li>
        </ul>
      </section>
      <section class="fullscreen centerfix manshetBlock">
        <div class="content">
          <h3 class="title title-primary"><span>FİKİRON,</span> SİZE DEĞER KATAR.</h3>
          <p>Yatırımcıysanız, doğru fırsatları karşınıza çıkararak portföyünüze değer katarız. Girişimciyseniz, fikrinizi geliştirip size dünya çapında değer katarız. Hayalinizi gerçeğe, gerçeğinizi hayalinize dönüştürürüz.</p><a class="moreButton" href="hakkimizda.html">+</a>
        </div>
      </section>
      <section class="centerfix fullscreen dTable servicesSection">
        <div class="vMiddle servicesItem"><img src="public/dist/img/content/fintech-icon.png"/>
          <h3 class="title title-primary title-line-height">FINTECH</h3>
          <p>Fikiron olarak, Blockchain teknolojisi başta olmak üzere, yeni teknolojileri kullanarak, finansal hizmetlere herkesin, her yerden ve çok daha kolay ulaşımını sağlamak amaçlı çözümler geliştiyoruz. Coiny uygulamamız ile Türkiye’nin en kolay, en hızlı, en güvenilir crypto currency işlemlerini gerçekleştiriyoruz.</p>
        </div>
        <div class="vMiddle servicesItem"><img src="public/dist/img/content/bigdata-icon.png"/>
          <h3 class="title title-primary title-line-height">BIG DATA & ADTECH</h3>
          <p>Günümüzde şirketlerin bir numaralı odağı Big Data. Her sektörde, elindeki veriyi doğru kullanan şirket büyük fark yaratacak. Fikiron’un 1DMP (Data Management Platform)’u   sayesinde şirketlerin iç ve dış data kaynaklarını bir araya getiriyoruz, anlamlandırıyoruz ve iş sonuçlarını arttıracak iç görüleri sağlıyoruz.</p>
        </div>
        <div class="vMiddle servicesItem"><img src="public/dist/img/content/e-commerce-icon.png"/>
          <h3 class="title title-primary title-line-height">E-COMMERCE & MARKETPLACE</h3>
          <p>E-ticaret sitelerinin ve market yeri çözümlerinin pazardaki paylarını giderek artırdığı son 7 senede, bu alanda yapılan yatırımların daha hızlı geri dönüşü olduğunu gözlemliyoruz. Fikiron olarak bu alanda da yeni projeler geliştiriyoruz.</p>
        </div>
        <div class="vMiddle servicesItem"><img src="public/dist/img/content/innovation-icon.png"/>
          <h3 class="title title-primary title-line-height">INNOVATION & INCUBATION</h3>
          <p>Inovasyonun tüm süreçlerine olan hakimiyetimiz sayesinde, çoklu inovasyon projelerini yönetebilecek mükemmeliyet seviyesine ulaştık.  Bu uzmanlığımızı sergileyeceğimiz Türkiye’nin en büyük Teknoloji ve Inovasyon Merkezi’nin çok yakında açıklayacağız.</p>
        </div>
        <div class="vMiddle servicesItem"><img src="public/dist/img/content/digital-icon.png"/>
          <h3 class="title title-primary title-line-height">DIGITAL CONTENT</h3>
          <p>Hayatımızın her anını kaplayan dijital ekranlar sayesinde artık çok daha fazla içerik tüketiyoruz. Fikiron olarak, bünyemizdeki Farq Content Empire ve Bubi Animasyon gibi 2 prodüksiyon şirketi ile çizgi film projeleri, TV Programları ve uzun metraj sinema filmleri üretiyoruz. Portföyümüzde yer alan yazılım ajansımız Frank da, şirketlere ve markalara yazılım hizmeti sunuyor, göz alıcı websiteleri ve uygulamalar üretiyor.</p>
        </div>
      </section>
      <section class="centerfix fullscreen whiteSection">
        <div class="centerfix fullscreen">
          <div class="numberOfWorks">
            <div class="centerContent">
              <div class="number">15<small>ADET</small>
                <div class="plus">+</div>
              </div>
              <p>Yapılan Yatırım Sayısı</p>
            </div>
          </div>
          <div class="numberOfWorks">
            <div class="centerContent">
              <div class="number">₺300<small>MİLYON</small>
                <div class="plus">+</div>
              </div>
              <p>Toplam Portföy Değeri</p>
            </div>
          </div>
          <div class="numberOfWorks">
            <div class="centerContent">
              <div class="number">$1<small>MİLYON</small>
                <div class="plus">+</div>
              </div>
              <p>Yönetilen para miktarı</p>
            </div>
          </div>
        </div>
      </section>
      <section class="fullscreen centerfix sectionSlider rightContent darkSlider">
        <ul class="slides">
          <li>
            <div class="slideContent">
              <div class="centerBlock"><img class="anim anim-1 logo" src="public/dist/img/content/references/coiny.png"/></div>
            </div>
            <div class="imageBlock dTable" style="background-image: url(public/dist/img/content/references/coiny-img.png)">
              <div class="centerBlock">
                <p class="anim anim-1">Kripto para almanın en güvenilir, en kolay ve en hızlı yolunu sunan bir mobil uygulamadır.</p>
                <h5 class="anim anim-2 title title-primary">COINY</h5>
              </div>
            </div>
          </li>
          <li>
            <div class="slideContent">
              <div class="centerBlock"><img class="anim anim-1 logo" src="public/dist/img/content/references/1dmp.png"/></div>
            </div>
            <div class="imageBlock dTable" style="background-image: url(public/dist/img/content/references/1dmp-img.png)">
              <div class="centerBlock">
                <p class="anim anim-1">Data Management Platform (DMP), big data konusunda en gelişmiş çözüm. Şirketlerin birincil datasını derleyen, anlamlandıran ve yorumlayan 1DMP, tekilleştirilmiş verileri ikincil ve üçüncül data kaynakları ile birleştirerek, pazarlama eforlarına hem etkinlik, hem de verimlilik kazandırır.</p>
                <h5 class="anim anim-2 title title-primary">1DMP</h5>
              </div>
            </div>
          </li>
          <li>
            <div class="slideContent">
              <div class="centerBlock"><img class="anim anim-1 logo" src="public/dist/img/content/references/ringpara.png"/></div>
            </div>
            <div class="imageBlock dTable" style="background-image: url(public/dist/img/content/references/ringpara-img.png)">
              <div class="centerBlock">
                <p class="anim anim-1">Micro-lokasyon, gerçek zamanlı pazarlama, big data yönetimi gibi modern pazarlamanın bütün yetkinliklerini aynı anda kullanarak, markaları müşterileri ile buluşturan Harikalar Dünyası, Türkiye Pazarlama Dünyasının en önemli ürünü olmaya aday.</p>
                <h5 class="anim anim-2 title title-primary">Harikalar Dünyası</h5>
              </div>
            </div>
          </li>
          <li>
            <div class="slideContent">
              <div class="centerBlock"><img class="anim anim-1 logo" src="public/dist/img/content/references/frank.png"/></div>
            </div>
            <div class="imageBlock dTable" style="background-image: url(public/dist/img/content/references/frank-img.png)">
              <div class="centerBlock">
                <p class="anim anim-1">Web ve mobil uygulamalar geliştiren, UX/UI tasarım hizmetleri veren, şirketlerin dijital ihtiyaçlarına yönelik özel çözümler sunan bir yazılım evidir.</p>
                <h5 class="anim anim-2 title title-primary">FRANK</h5>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <section class="centerfix subOrangeManshet text-center">
        <div class="container"><a href="yatirim-basvurusu.html">
            <h4 class="title title-primary">BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?</h4></a>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="goToPage" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-white.png"/></a>
        </div>
      </section>
    </main><!-- Footer start here -->
    <footer class="centerfix">
      <div class="container"><a class="footerLink" href="index.html"><img src="public/dist/img/fikiron-logo-gray.png" alt="Fikiron"/></a>
        <nav class="footerMenu">
          <ul>
            <li><a href="gizlilik-sozlesmesi.html" title="Gizlilik">Gizlilik</a></li>
            <li><a href="sss.html" title="Sık Sorulan Sorular">Sık Sorulan Sorular</a></li>
            <li><a href="iletisim.html" title="İletişim">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="public/dist/js/bundle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </body>
</html>
