views/partnerlerimiz.pug
extends layout/layout

block head
	- var title = "Portföy";
	- var description = "Portföy";
	- var keywords = "Portföy";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/partners/slide-img.jpg)")
		.content
			h1.pageTitle Fikiron olarak, ortaklarımıza ve müşterilerimize de değer katıyoruz.
			//p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	section.centerfix.fullscreen.dTable.portfolioList
		- var portfoy = [];
		- portfoy.push({href: 'http://www.bubiajans.com/', logo: 'bubi', content: 'En yeni teknolojileri kullanan kreatif bir animasyon ve prodüksiyon ajansıdır.'});
		- portfoy.push({href: 'http://frank.com.tr/', logo: 'frank', content: 'Web ve mobil uygulamalar geliştiren, UX/UI tasarım hizmetleri veren, şirketlerin dijital ihtiyaçlarına yönelik özel çözümler sunan bir yazılım evidir.'});
		- portfoy.push({href: 'https://coiny.io/home', logo: 'coiny', content: 'Kripto para almanın en güvenilir, en kolay ve en hızlı yolunu sunan bir mobil uygulamadır.'});
		- portfoy.push({href: 'https://1dmp.io/', logo: '1DMP', content: 'Data Management Platform (DMP), big data konusunda en gelişmiş çözüm. Şirketlerin birincil datasını derleyen, anlamlandıran ve yorumlayan 1DMP, tekilleştirilmiş verileri ikincil ve üçüncül data kaynakları ile birleştirerek, pazarlama eforlarına hem etkinlik, hem de verimlilik kazandırır.'});
		- portfoy.push({href: '#', logo: 'binyil-bey', content: 'Çocuklarımıza bilimi sevdirecek, fizik, kimya, biyoloji gibi temel bilimsel kavramları öğretecek yepyeni bir  çizgi film. Tarihimizin altın sayfaları arasında dolaşan ve başarılarımızda bilimin katkısının altını çizecek olan Binyıl Bey’i çocukların çok seveceğine eminiz. \n'});
		- portfoy.push({href: '#', logo: 'han', content: 'Birçok kripto para birimini güvenli, hızlı ve kolay bir şekilde alıp satabileceğiniz Türkiye’nin yeni borsasıdır.'});
		- portfoy.push({href: '#', logo: 'turkiye-4-0', content: 'Türkiye Cumhuriyeti’nin dijital dönüşümünü sağlayacak projeleri yaratır, yönetir ve hayata geçiririz.'});
		- portfoy.push({href: '#', logo: 'harikalar-dunyasi', content: 'Micro-lokasyon, gerçek zamanlı pazarlama, big data yönetimi gibi modern pazarlamanın bütün yetkinliklerini aynı anda kullanarak, markaları müşterileri ile buluşturan Harikalar Dünyası, Türkiye Pazarlama Dünyasının en önemli ürünü olmaya aday.'});
		- portfoy.push({href: 'http://ringpara.com/', logo: 'ringpara', content: 'Kişi, zaman, lokasyon bazlı hedefleme yaparak markaları hedef kitleleri ile doğrudan buluşturan Ringpara, lazer odaklanma yapmak isteyen tüm pazarlama planlarının ayrılmaz bir parçası olacak. Telefonunuzu size ait bir reklam mecrasına dönüştürüp, siz arandıkça size para kazandırması özelliği sayesinde bundan sonra telefonunuz boşa çalmayacak.'});
		- portfoy.push({href: 'https://www.manibux.com/', logo: 'manibux', content: 'Çocukların harçlık yönetimini hem ebeveynlerin kontrolü hem de kendi kontrolleri ile yapabildikleri mobil uygulama odaklı ödeme ve harçlık yönetim sistemidir.'});
		- portfoy.push({href: 'https://www.jestiniyap.com/', logo: 'jestiniyap', content: '‘Gift Startup’ piyasasının öncü oyuncularından Jestiniyap, Miles & Smiles iş birliği ile sevdiklerinize anında hediye gönderebildiğiniz, gönderirken uçuş mili kazandıran uygulamadır.'});
		- portfoy.push({href: '#', logo: 'secondzUp', content: 'Müzik yeteneğini göstererek ünlü olmak isteyen binlerce genci, yeni yetenek keşfedip güzel müzik dinlemek isteyen milyonlarla buluşturacak olan SecondzUp’ta başarılı olan müzisyenlere ortağımız Doğan Music Company ile birlikte prodüksiyon yapıyoruz.'});

		- for (var i=0; i < portfoy.length-1; i++)
			.portfolioItem
				.card__face.card__face--front
					.logo(style="background-image: url('" + prefix + "/img/content/portfolio/logo-" + portfoy[i].logo + ".png')")
				.card__face.card__face--back
					.logo(style="background-image: url('" + prefix + "/img/content/portfolio/logo-" + portfoy[i].logo + ".png')")
					p= portfoy[i].content
					a.link(href=portfoy[i].href, target="_blank") VISIT WEB SITE
						img(src=prefix + "/img/icon-arrow-right-orange-small.png")


	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts

output/partnerlerimiz.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Portföy | Fikiron</title>
    <meta name="description" content="Portföy"/>
    <meta name="keywords" content="Portföy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link rel="stylesheet" href="public/dist/css/style.css"/>
  </head>
  <body><!-- Header start here -->
    <header>
      <div class="container"><a class="headerLogo" href="index.html" title="Fikiron"><img src="public/dist/img/fikiron-logo-white.png"/></a>
        <!--a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
        img(src=prefix + "/img/icon-arrow-right-white-small.png")
        
        --><a class="toggleMenu megaMenuButton" href="#"><span></span><span></span><span></span></a>
      </div>
    </header>
    <nav id="mainMenu">
      <ul>
        <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
        <li><a href="portfoy.html">PORTFÖY</a></li>
        <li><a href="takim.html">TAKIM</a></li>
        <li><a href="girisimciye-kattiklarimiz.html">GİRİŞİMCİYE KATTIKLARIMIZ</a></li>
        <li><a href="partnerlerimiz.html">PARTNERLER</a></li>
        <li class="showMobile"><a href="yatirim-basvurusu.html">YATIRIM BAŞVURUSU</a></li>
        <li><a href="iletisim.html">İLETİŞİM</a></li>
        <li><a class="social" href="#"><i class="fa fa-facebook"></i></a><a class="social" href="#"><i class="fa fa-twitter"></i></a><a class="social" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="sponsorWrapper">
        <div class="center">
          <h3 class="title title-third">YATIRIM BAŞVURUSU</h3>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="link" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </div>
    </nav>
    <main>
      <section class="fullscreen mainSliderWrapper notOpacity">
        <div class="sliderOverlay"></div>
        <div class="mainSlider centerfix">
          <ul class="slides">
            <li style="background-image: url(public/dist/img/content/partners/slide-img.jpg)"></li>
          </ul>
        </div>
        <div class="content">
          <h1 class="pageTitle">Fikiron olarak, ortaklarımıza ve müşterilerimize de değer katıyoruz.</h1>
          <!--p Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
        </div>
      </section>
      <section class="centerfix fullscreen dTable portfolioList">
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-bubi.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-bubi.png')"></div>
            <p>En yeni teknolojileri kullanan kreatif bir animasyon ve prodüksiyon ajansıdır.</p><a class="link" href="http://www.bubiajans.com/" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-frank.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-frank.png')"></div>
            <p>Web ve mobil uygulamalar geliştiren, UX/UI tasarım hizmetleri veren, şirketlerin dijital ihtiyaçlarına yönelik özel çözümler sunan bir yazılım evidir.</p><a class="link" href="http://frank.com.tr/" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-coiny.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-coiny.png')"></div>
            <p>Kripto para almanın en güvenilir, en kolay ve en hızlı yolunu sunan bir mobil uygulamadır.</p><a class="link" href="https://coiny.io/home" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-1DMP.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-1DMP.png')"></div>
            <p>Data Management Platform (DMP), big data konusunda en gelişmiş çözüm. Şirketlerin birincil datasını derleyen, anlamlandıran ve yorumlayan 1DMP, tekilleştirilmiş verileri ikincil ve üçüncül data kaynakları ile birleştirerek, pazarlama eforlarına hem etkinlik, hem de verimlilik kazandırır.</p><a class="link" href="https://1dmp.io/" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-binyil-bey.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-binyil-bey.png')"></div>
            <p>Çocuklarımıza bilimi sevdirecek, fizik, kimya, biyoloji gibi temel bilimsel kavramları öğretecek yepyeni bir  çizgi film. Tarihimizin altın sayfaları arasında dolaşan ve başarılarımızda bilimin katkısının altını çizecek olan Binyıl Bey’i çocukların çok seveceğine eminiz. 
</p><a class="link" href="#" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-han.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-han.png')"></div>
            <p>Birçok kripto para birimini güvenli, hızlı ve kolay bir şekilde alıp satabileceğiniz Türkiye’nin yeni borsasıdır.</p><a class="link" href="#" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-turkiye-4-0.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-turkiye-4-0.png')"></div>
            <p>Türkiye Cumhuriyeti’nin dijital dönüşümünü sağlayacak projeleri yaratır, yönetir ve hayata geçiririz.</p><a class="link" href="#" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-harikalar-dunyasi.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-harikalar-dunyasi.png')"></div>
            <p>Micro-lokasyon, gerçek zamanlı pazarlama, big data yönetimi gibi modern pazarlamanın bütün yetkinliklerini aynı anda kullanarak, markaları müşterileri ile buluşturan Harikalar Dünyası, Türkiye Pazarlama Dünyasının en önemli ürünü olmaya aday.</p><a class="link" href="#" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-ringpara.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-ringpara.png')"></div>
            <p>Kişi, zaman, lokasyon bazlı hedefleme yaparak markaları hedef kitleleri ile doğrudan buluşturan Ringpara, lazer odaklanma yapmak isteyen tüm pazarlama planlarının ayrılmaz bir parçası olacak. Telefonunuzu size ait bir reklam mecrasına dönüştürüp, siz arandıkça size para kazandırması özelliği sayesinde bundan sonra telefonunuz boşa çalmayacak.</p><a class="link" href="http://ringpara.com/" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-manibux.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-manibux.png')"></div>
            <p>Çocukların harçlık yönetimini hem ebeveynlerin kontrolü hem de kendi kontrolleri ile yapabildikleri mobil uygulama odaklı ödeme ve harçlık yönetim sistemidir.</p><a class="link" href="https://www.manibux.com/" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
        <div class="portfolioItem">
          <div class="card__face card__face--front">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-jestiniyap.png')"></div>
          </div>
          <div class="card__face card__face--back">
            <div class="logo" style="background-image: url('public/dist/img/content/portfolio/logo-jestiniyap.png')"></div>
            <p>‘Gift Startup’ piyasasının öncü oyuncularından Jestiniyap, Miles &amp; Smiles iş birliği ile sevdiklerinize anında hediye gönderebildiğiniz, gönderirken uçuş mili kazandıran uygulamadır.</p><a class="link" href="https://www.jestiniyap.com/" target="_blank">VISIT WEB SITE<img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
          </div>
        </div>
      </section>
      <section class="centerfix subOrangeManshet text-center">
        <div class="container"><a href="yatirim-basvurusu.html">
            <h4 class="title title-primary">BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?</h4></a>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="goToPage" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-white.png"/></a>
        </div>
      </section>
    </main><!-- Footer start here -->
    <footer class="centerfix">
      <div class="container"><a class="footerLink" href="index.html"><img src="public/dist/img/fikiron-logo-gray.png" alt="Fikiron"/></a>
        <nav class="footerMenu">
          <ul>
            <li><a href="gizlilik-sozlesmesi.html" title="Gizlilik">Gizlilik</a></li>
            <li><a href="sss.html" title="Sık Sorulan Sorular">Sık Sorulan Sorular</a></li>
            <li><a href="iletisim.html" title="İletişim">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="public/dist/js/bundle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </body>
</html>
