output/sss.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Sık Sorulan Sorular | Fikiron</title>
    <meta name="description" content="Sık Sorulan Sorular"/>
    <meta name="keywords" content="Sık Sorulan Sorular"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link rel="stylesheet" href="public/dist/css/style.css"/>
  </head>
  <body class="clearPadding"><!-- Header start here -->
    <header class="darkHeader">
      <div class="container"><a class="headerLogo" href="index.html" title="Fikiron"><img src="public/dist/img/fikiron-logo.png"/></a>
        <!--a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
        img(src=prefix + "/img/icon-arrow-right-white-small.png")
        
        --><a class="toggleMenu megaMenuButton" href="#"><span></span><span></span><span></span></a>
      </div>
    </header>
    <nav id="mainMenu">
      <ul>
        <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
        <li><a href="portfoy.html">PORTFÖY</a></li>
        <li><a href="takim.html">TAKIM</a></li>
        <li><a href="girisimciye-kattiklarimiz.html">GİRİŞİMCİYE KATTIKLARIMIZ</a></li>
        <li><a href="partnerlerimiz.html">PARTNERLER</a></li>
        <li class="showMobile"><a href="yatirim-basvurusu.html">YATIRIM BAŞVURUSU</a></li>
        <li><a href="iletisim.html">İLETİŞİM</a></li>
        <li><a class="social" href="#"><i class="fa fa-facebook"></i></a><a class="social" href="#"><i class="fa fa-twitter"></i></a><a class="social" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="sponsorWrapper">
        <div class="center">
          <h3 class="title title-third">YATIRIM BAŞVURUSU</h3>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="link" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </div>
    </nav>
    <main>
      <section class="centerfix staticPage whiteSection text-center">
        <div class="container">
          <h1 class="title title-third title-black title-line-height">Sık Sorulan Sorular</h1>
          <dl class="faqList centerfix">
            <dt>
              <h3 class="title title-second title-no-upper title-line-height">Lorem ipsum dolar?</h3>
            </dt>
            <dd>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper porttitor orci. Morbi placerat in libero vulputate ultricies. Ut id mauris justo. Mauris augue odio, condimentum nec lorem ac, vulputate laoreet sem. Praesent sit amet magna malesuada, tempor leo quis, pellentesque nisi.</p>
            </dd>
            <dt>
              <h3 class="title title-second title-no-upper title-line-height">Lorem ipsum dolar?</h3>
            </dt>
            <dd>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper porttitor orci. Morbi placerat in libero vulputate ultricies. Ut id mauris justo. Mauris augue odio, condimentum nec lorem ac, vulputate laoreet sem. Praesent sit amet magna malesuada, tempor leo quis, pellentesque nisi.</p>
            </dd>
            <dt>
              <h3 class="title title-second title-no-upper title-line-height">Lorem ipsum dolar?</h3>
            </dt>
            <dd>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper porttitor orci. Morbi placerat in libero vulputate ultricies. Ut id mauris justo. Mauris augue odio, condimentum nec lorem ac, vulputate laoreet sem. Praesent sit amet magna malesuada, tempor leo quis, pellentesque nisi.</p>
            </dd>
            <dt>
              <h3 class="title title-second title-no-upper title-line-height">Lorem ipsum dolar?</h3>
            </dt>
            <dd>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper porttitor orci. Morbi placerat in libero vulputate ultricies. Ut id mauris justo. Mauris augue odio, condimentum nec lorem ac, vulputate laoreet sem. Praesent sit amet magna malesuada, tempor leo quis, pellentesque nisi.</p>
            </dd>
            <dt>
              <h3 class="title title-second title-no-upper title-line-height">Lorem ipsum dolar?</h3>
            </dt>
            <dd>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper porttitor orci. Morbi placerat in libero vulputate ultricies. Ut id mauris justo. Mauris augue odio, condimentum nec lorem ac, vulputate laoreet sem. Praesent sit amet magna malesuada, tempor leo quis, pellentesque nisi.</p>
            </dd>
          </dl>
        </div>
      </section>
    </main><!-- Footer start here -->
    <footer class="centerfix">
      <div class="container"><a class="footerLink" href="index.html"><img src="public/dist/img/fikiron-logo-gray.png" alt="Fikiron"/></a>
        <nav class="footerMenu">
          <ul>
            <li><a href="gizlilik-sozlesmesi.html" title="Gizlilik">Gizlilik</a></li>
            <li><a href="sss.html" title="Sık Sorulan Sorular">Sık Sorulan Sorular</a></li>
            <li><a href="iletisim.html" title="İletişim">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="public/dist/js/bundle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </body>
</html>

views/sss.pug
extends layout/layout

block head
	- var title = "Sık Sorulan Sorular";
	- var description = "Sık Sorulan Sorular";
	- var keywords = "Sık Sorulan Sorular";
	- var isWhitePage = true;
	- var noPadding = true;

block content

	section.centerfix.staticPage.whiteSection.text-center
		.container
			h1.title.title-third.title-black.title-line-height Sık Sorulan Sorular

			dl.faqList.centerfix
				-for (var i = 0; i < 5; i++)
					dt
						h3.title.title-second.title-no-upper.title-line-height Lorem ipsum dolar?
					dd
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper porttitor orci. Morbi placerat in libero vulputate ultricies. Ut id mauris justo. Mauris augue odio, condimentum nec lorem ac, vulputate laoreet sem. Praesent sit amet magna malesuada, tempor leo quis, pellentesque nisi.
