output/takim.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Ekibimiz | Fikiron</title>
    <meta name="description" content="Ekibimiz"/>
    <meta name="keywords" content="Ekibimiz"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link rel="stylesheet" href="public/dist/css/style.css"/>
  </head>
  <body><!-- Header start here -->
    <header>
      <div class="container"><a class="headerLogo" href="index.html" title="Fikiron"><img src="public/dist/img/fikiron-logo-white.png"/></a>
        <!--a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
        img(src=prefix + "/img/icon-arrow-right-white-small.png")
        
        --><a class="toggleMenu megaMenuButton" href="#"><span></span><span></span><span></span></a>
      </div>
    </header>
    <nav id="mainMenu">
      <ul>
        <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
        <li><a href="portfoy.html">PORTFÖY</a></li>
        <li><a href="takim.html">TAKIM</a></li>
        <li><a href="girisimciye-kattiklarimiz.html">GİRİŞİMCİYE KATTIKLARIMIZ</a></li>
        <li><a href="partnerlerimiz.html">PARTNERLER</a></li>
        <li class="showMobile"><a href="yatirim-basvurusu.html">YATIRIM BAŞVURUSU</a></li>
        <li><a href="iletisim.html">İLETİŞİM</a></li>
        <li><a class="social" href="#"><i class="fa fa-facebook"></i></a><a class="social" href="#"><i class="fa fa-twitter"></i></a><a class="social" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="sponsorWrapper">
        <div class="center">
          <h3 class="title title-third">YATIRIM BAŞVURUSU</h3>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="link" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </div>
    </nav>
    <main>
      <section class="fullscreen mainSliderWrapper notOpacity">
        <div class="sliderOverlay"></div>
        <div class="mainSlider centerfix">
          <ul class="slides">
            <li style="background-image: url(public/dist/img/content/team/slide-img.jpg)"></li>
          </ul>
        </div>
        <div class="content">
          <h1 class="pageTitle">Türkiye’ye değer katmak isteyenlerin bir araya geldiği genç ve dinamik bir takımız.</h1>
          <!--p Our experience supports and amplifies companies over their lifespan-->
        </div>
      </section>
      <section class="centerfix dTable teamList fullscreen">
        <div class="teamItem"><a href="takim-detay.html#0"><img src="public/dist/img/content/team/1.jpg"/>
            <div class="info"><span class="name">Alper Aydın</span><span class="position">Kurucu Ortak</span></div></a></div>
        <div class="teamItem"><a href="takim-detay.html#1"><img src="public/dist/img/content/team/2.jpg"/>
            <div class="info"><span class="name">Mustafa Sandal</span><span class="position">Kurucu Ortak</span></div></a></div>
        <div class="teamItem"><a href="takim-detay.html#2"><img src="public/dist/img/content/team/3.jpg"/>
            <div class="info"><span class="name">Alpay Alptekin</span><span class="position">Yönetim Kurulu Başkanı ve Yönetici Ortak</span></div></a></div>
        <div class="teamItem"><a href="takim-detay.html#3"><img src="public/dist/img/content/team/4.jpg"/>
            <div class="info"><span class="name">Yalçın Sisa</span><span class="position">Yönetim Kurulu Üyesi</span></div></a></div>
        <div class="teamItem"><a href="takim-detay.html#4"><img src="public/dist/img/content/team/5.jpg"/>
            <div class="info"><span class="name">Ahmet Uruç</span><span class="position">Kurucu Ortak</span></div></a></div>
        <div class="teamItem"><a href="takim-detay.html#5"><img src="public/dist/img/content/team/6.jpg"/>
            <div class="info"><span class="name">Kerem Mergen</span><span class="position">İş Geliştirme Direktörü</span></div></a></div>
        <div class="teamItem"><a href="takim-detay.html#6"><img src="public/dist/img/content/team/7.jpg"/>
            <div class="info"><span class="name">Duygu Alptekin</span><span class="position">Pazarlama Direktörü</span></div></a></div>
        <div class="teamItem"><a href="takim-detay.html#7"><img src="public/dist/img/content/team/8.jpg"/>
            <div class="info"><span class="name">Amie Kendall</span><span class="position">Dijital Programlar Direktörü</span></div></a></div>
      </section>
      <section class="centerfix subOrangeManshet text-center">
        <div class="container"><a href="yatirim-basvurusu.html">
            <h4 class="title title-primary">BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?</h4></a>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="goToPage" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-white.png"/></a>
        </div>
      </section>
    </main><!-- Footer start here -->
    <footer class="centerfix">
      <div class="container"><a class="footerLink" href="index.html"><img src="public/dist/img/fikiron-logo-gray.png" alt="Fikiron"/></a>
        <nav class="footerMenu">
          <ul>
            <li><a href="gizlilik-sozlesmesi.html" title="Gizlilik">Gizlilik</a></li>
            <li><a href="sss.html" title="Sık Sorulan Sorular">Sık Sorulan Sorular</a></li>
            <li><a href="iletisim.html" title="İletişim">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="public/dist/js/bundle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </body>
</html>

views/takim.pug
extends layout/layout

block head
	- var title = "Ekibimiz";
	- var description = "Ekibimiz";
	- var keywords = "Ekibimiz";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/team/slide-img.jpg)")
		.content
			h1.pageTitle Türkiye’ye değer katmak isteyenlerin bir araya geldiği genç ve dinamik bir takımız.
			//p Our experience supports and amplifies companies over their lifespan

	section.centerfix.dTable.teamList.fullscreen
		- var teams = [{'name': 'Alper Aydın', 'title': 'Kurucu Ortak'},{'name': 'Mustafa Sandal', 'title': 'Kurucu Ortak'},{'name': 'Alpay Alptekin', 'title': 'Yönetim Kurulu Başkanı ve Yönetici Ortak'},{'name': 'Yalçın Sisa', 'title': 'Yönetim Kurulu Üyesi'},{'name': 'Ahmet Uruç', 'title': 'Kurucu Ortak'},{'name': 'Kerem Mergen', 'title': 'İş Geliştirme Direktörü'},{'name': 'Duygu Alptekin', 'title': 'Pazarlama Direktörü'},{'name': 'Amie Kendall', 'title': 'Dijital Programlar Direktörü'}]
		each person, i in teams
			- var index = i;
			.teamItem
				a(href="takim-detay.html#" + i)
					img(src=prefix + "/img/content/team/" + (index+1) + ".jpg")
					.info
						span.name= person.name
						span.position= person.title


	section.centerfix.subOrangeManshet.text-center
		.container
			a(href="yatirim-basvurusu.html")
				h4.title.title-primary BÜYÜMEK İÇİN TEK İHTİYACINIZ OLAN ŞEY YATIRIM MI?
			p Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.
			a.goToPage(href="yatirim-basvurusu.html")
				img(src=prefix + "/img/icon-arrow-right-white.png")


block scripts
