views/takim-detay.pug
extends layout/layout
block head
	- var noPadding = true
	- var title = "Ekibimiz";
	- var description = "Ekibimiz";
	- var keywords = "Ekibimiz";

block content
	- var teams = [{'name': 'Alper Aydın', 'title': 'Kurucu Ortak'},{'name': 'Mustafa Sandal', 'title': 'Kurucu Ortak'},{'name': 'Alpay Alptekin', 'title': 'Yönetim Kurulu Başkanı ve Yönetici Ortak'},{'name': 'Yalçın Sisa', 'title': 'Yönetim Kurulu Üyesi'},{'name': 'Ahmet Uruç', 'title': 'Kurucu Ortak'},{'name': 'Kerem Mergen', 'title': 'İş Geliştirme Direktörü'},{'name': 'Duygu Alptekin', 'title': 'Pazarlama Direktörü'},{'name': 'Amie Kendall', 'title': 'Dijital Programlar Direktörü'}]
	section.centerfix.fullscreen.dTable.teamDetail
		section.teamDetailSlider
			ul.slides
				each person, i in teams
					- var index = i;
					li
						.imageWrapper(style="background-image: url(" + prefix + "/img/content/team/" + (index+1) + ".jpg)")
							.info
								h1.title.title-third.title-white= person.name
								span.position= person.title

								.social
									a(href="#")
										i.fa.fa-linkedin-square
									a(href="#")
										i.fa.fa-twitter

		section.teamDetailSlider
			.navigation
				a.flex-prev(href="#")
				a.flex-next(href="#")
				a.close(href="takim.html")
			ul.slides
				each person, i in teams
					li
						.cvContent
							h3.title.title-fourth #{person.name}

							if (i == 0)
								include team/alper-aydin
							else if (i == 1)
								include team/mustafa-sandal
							else if (i == 2)
								include team/alpay-alptekin
							else if (i == 3)
								include team/yalcin-sisa
							else if (i == 4)
								include team/ahmet-uruc
							else if (i == 5)
								include team/kerem-mergen
							else if (i == 6)
								include team/duygu-alptekin
							else if (i == 7)
								include team/amie-kendall


block scripts
	script.
		$('.teamDetail').addClass('animate');

output/takim-detay.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Ekibimiz | Fikiron</title>
    <meta name="description" content="Ekibimiz"/>
    <meta name="keywords" content="Ekibimiz"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link rel="stylesheet" href="public/dist/css/style.css"/>
  </head>
  <body class="clearPadding"><!-- Header start here -->
    <header>
      <div class="container"><a class="headerLogo" href="index.html" title="Fikiron"><img src="public/dist/img/fikiron-logo-white.png"/></a>
        <!--a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
        img(src=prefix + "/img/icon-arrow-right-white-small.png")
        
        --><a class="toggleMenu megaMenuButton" href="#"><span></span><span></span><span></span></a>
      </div>
    </header>
    <nav id="mainMenu">
      <ul>
        <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
        <li><a href="portfoy.html">PORTFÖY</a></li>
        <li><a href="takim.html">TAKIM</a></li>
        <li><a href="girisimciye-kattiklarimiz.html">GİRİŞİMCİYE KATTIKLARIMIZ</a></li>
        <li><a href="partnerlerimiz.html">PARTNERLER</a></li>
        <li class="showMobile"><a href="yatirim-basvurusu.html">YATIRIM BAŞVURUSU</a></li>
        <li><a href="iletisim.html">İLETİŞİM</a></li>
        <li><a class="social" href="#"><i class="fa fa-facebook"></i></a><a class="social" href="#"><i class="fa fa-twitter"></i></a><a class="social" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="sponsorWrapper">
        <div class="center">
          <h3 class="title title-third">YATIRIM BAŞVURUSU</h3>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="link" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </div>
    </nav>
    <main>
      <section class="centerfix fullscreen dTable teamDetail">
        <section class="teamDetailSlider">
          <ul class="slides">
            <li>
              <div class="imageWrapper" style="background-image: url(public/dist/img/content/team/1.jpg)">
                <div class="info">
                  <h1 class="title title-third title-white">Alper Aydın</h1><span class="position">Kurucu Ortak</span>
                  <div class="social"><a href="#"><i class="fa fa-linkedin-square"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="imageWrapper" style="background-image: url(public/dist/img/content/team/2.jpg)">
                <div class="info">
                  <h1 class="title title-third title-white">Mustafa Sandal</h1><span class="position">Kurucu Ortak</span>
                  <div class="social"><a href="#"><i class="fa fa-linkedin-square"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="imageWrapper" style="background-image: url(public/dist/img/content/team/3.jpg)">
                <div class="info">
                  <h1 class="title title-third title-white">Alpay Alptekin</h1><span class="position">Yönetim Kurulu Başkanı ve Yönetici Ortak</span>
                  <div class="social"><a href="#"><i class="fa fa-linkedin-square"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="imageWrapper" style="background-image: url(public/dist/img/content/team/4.jpg)">
                <div class="info">
                  <h1 class="title title-third title-white">Yalçın Sisa</h1><span class="position">Yönetim Kurulu Üyesi</span>
                  <div class="social"><a href="#"><i class="fa fa-linkedin-square"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="imageWrapper" style="background-image: url(public/dist/img/content/team/5.jpg)">
                <div class="info">
                  <h1 class="title title-third title-white">Ahmet Uruç</h1><span class="position">Kurucu Ortak</span>
                  <div class="social"><a href="#"><i class="fa fa-linkedin-square"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="imageWrapper" style="background-image: url(public/dist/img/content/team/6.jpg)">
                <div class="info">
                  <h1 class="title title-third title-white">Kerem Mergen</h1><span class="position">İş Geliştirme Direktörü</span>
                  <div class="social"><a href="#"><i class="fa fa-linkedin-square"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="imageWrapper" style="background-image: url(public/dist/img/content/team/7.jpg)">
                <div class="info">
                  <h1 class="title title-third title-white">Duygu Alptekin</h1><span class="position">Pazarlama Direktörü</span>
                  <div class="social"><a href="#"><i class="fa fa-linkedin-square"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="imageWrapper" style="background-image: url(public/dist/img/content/team/8.jpg)">
                <div class="info">
                  <h1 class="title title-third title-white">Amie Kendall</h1><span class="position">Dijital Programlar Direktörü</span>
                  <div class="social"><a href="#"><i class="fa fa-linkedin-square"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <section class="teamDetailSlider">
          <div class="navigation"><a class="flex-prev" href="#"></a><a class="flex-next" href="#"></a><a class="close" href="takim.html"></a></div>
          <ul class="slides">
            <li>
              <div class="cvContent">
                <h3 class="title title-fourth">Alper Aydın</h3>
                <p>Sivas doğumlu Alper Aydın, açıkhava reklamcılığın duayenlerinden.</p>
              </div>
            </li>
            <li>
              <div class="cvContent">
                <h3 class="title title-fourth">Mustafa Sandal</h3>
                <p>90’lı yıllar geçeli çok olsa da üzerimizde bıraktığı o sıcacık etki hala geçmedi. Söz 90’lardan açıldığında anlatacak bir dünya konu bulabilir insan. Şüphesiz, bu konuların en başında da müzik gelir. İşte o yılları bugün hala severek konuşmamızın sebeplerinden biridir Mustafa Sandal ve onun müziği. Her ne kadar hepimizin çok sevdiği o yıllarda hayatımıza girmiş olsa da, Mustafa Sandal asla yalnızca bir dönemin müzisyeni olmadı. O, eserleriyle bugün de hepimizin severek takip ettiği en üretken sanatçılardan biri olmaya devam ediyor. Eğitimini Türkiye, İsviçre ve ABD’de tamamlamış olan Mustafa Sandal; söz, yazarı, besteci, müzik yapımcısı, aranjör ve şarkıcı kimliklerinin haricinde başarılı bir girişimci ve oyuncudur. Enerjik, yaratıcı ve araştırmacı kişiliğiyle yer aldığı her projeyi bir adım öteye taşıyabilen Sandal, aynı zamanda iki çocuk babasıdır. Bazen dilimize takılan bir şarkıyla gelir aklımıza. Bazen izlediğimiz bir programla evlerimize konuk oluverir. Yani, o hep bizimledir. Mustafa Sandal, Musti, “arabası olan çocuk” ve çok daha fazlası olarak...</p>
              </div>
            </li>
            <li>
              <div class="cvContent">
                <h3 class="title title-fourth">Alpay Alptekin</h3>
                <p>1972 yılında İstanbul’da doğan Alpay Alptekin, orta öğretimini İstanbul Erkek Lisesi’nde tamamladıktan sonra, Boğaziçi Üniversitesi İşletme Bölümü’nden mezun oldu.</p>
                <p>1996 yılında Procter&Gamble’da çalışmaya başlayan Alpay Alptekin, Çocuk Bakım Kategorisinde Prima Çocuk Bezi; Ev ve Kumaş Bakım kategorisinde Ariel, Alo, Ace, Mintax, Bonux; Güzellik ve Kozmetik Kategorisinde, Pantene, Head&Shoulders, Blendax, Rejoice ve Koleston markalarında sorumluluk almıştır. Bu görevleri sırasında, Türkiye’deki tecrübelerine ek olarak 104 ülkenin içinde bulunduğu Orta Avrupa, Doğu Avrupa, Ortadoğu, Afrika, Kafkas Bölgeleri’nde pazarlamada üst düzey görevler üstlenmiştir.</p>
                <p>2010 yılında Turkcell’de Pazarlama İletişiminden Sorumlu Bölüm Başkanı olarak çalışmaya başlayan Alpay Alptekin, Turkcell’in reklam, medya, dijital iletişim ve etkinlik bölümlerini ve Turkcell’e hizmet veren geniş bir ajans faunasını yönetmiştir. Bu süre içerisinde, “Hayat Paylaşınca Güzel”, “Turkcell 4 Çeker”, “Birlikte Her gün Daha İyiye” gibi lansmanların altına imza atmış, Turkcell markasının Türkiye’nin en sevilen markalarından ve en beğenilen şirketlerinden birisi olması konusunda ekibiyle birlikte katkılarda bulunmuştur.</p>
                <p>Turkcell’deki görevinden sonra 2015 yılında Alpay Alptekin&Partners’ı kuran Alpay Alptekin, Türkiye’nin önde gelen reklamverenlerine Pazarlama Stratejileri, Dijital Pazarlama, Mobil Teknolojiler, big data ve diğer yeni nesil pazarlama teknolojileri konularında danışmanlık yaptı.</p>
                <p>Halen, Fikiron Bilişim A.Ş.’de Yönetim Kurulu Başkanı ve CEO olarak görev yapan Alpay Alptekin, Fikiron’un FinTech, Big Data, E-Commerce ve Digital Content alanlarındaki yatırımlarını yönetmektedir.</p>
                <p>Akademik olarak, Sabancı Üniversitesi Pazarlama Yüksek Lisans Programı’nda dersler veren Alpay Alptekin evli ve 1 çocuk babasıdır.</p>
              </div>
            </li>
            <li>
              <div class="cvContent">
                <h3 class="title title-fourth">Yalçın Sisa</h3>
                <p>İstanbul doğumlu olan Yalçın İstanbul Bilgi Üniversitesi Uluslararası İlişkiler bölümünden mezun olduktan sonra, aynı üniversitede MBA programını tamamlamıştır. 2006 senesinde Alman Stroer firmasına bağlı City Lights Açıkhava Reklam Şirketinde çalışma hayatına başlamıştır. Kısa sürede aynı firmada yöneticilik pozisyonuna gelen Yalçın SİSA, 2011 yılında kendi medya şirketini kurmuştur. Birçok markaya reklam çözümleri ve medya satınalma konularında hizmet veren Mediatic Medya A.Ş. 2017 yılında Lifefrok Digital’e ortak olarak yatırımlarını sürdürmüştür. 2017 aralık ayından itibaren ise Fikiron yönetim kurulu üyeliği devam etmektedir.</p>
              </div>
            </li>
            <li>
              <div class="cvContent">
                <h3 class="title title-fourth">Ahmet Uruç</h3>
              </div>
            </li>
            <li>
              <div class="cvContent">
                <h3 class="title title-fourth">Kerem Mergen</h3>
                <p>İstanbul doğumlu Kerem, Üsküdar Amerikan Lisesini bitirdikten sonra New York University’de Entrepreneurship & Technology Management bölümünden 2015’de mezun olmuştur. Amerika’da New York şehrinde 2 senelik iş tecrübesinin ardından soluğu tekrar İstanbul’da alan Kerem, döndüğü gibi Kolektif House’da Community Manager görevini üstlenmiştir. Aynı yapıda 6 aylık İş Geliştirme Müdürlüğü yapan Kerem, toplam 1 buçuk senelik Kolektif House macerasının ardından Fikiron’un İş Geliştirme Direktörlüğünü yapmaya hala devam etmektedir. Bugüne kadar 3 tane girişim kuran ve bir tane exit’i olan Kerem’in en büyük tutkusu artan enerji sahibi ve ayakları yere basan girişimciler ile beraber işler geliştirmek.</p>
              </div>
            </li>
            <li>
              <div class="cvContent">
                <h3 class="title title-fourth">Duygu Alptekin</h3>
                <p>1985 yılında doğan Duygu Alptekin, orta öğretimini Burak Bora Anadolu Lisesi’nde tamamladıktan sonra, İstanbul Üniversitesi İngilizce İktisat Bölümü’nden mezun oldu.</p>
                <p>2008 yılında Enka İnşaat’ta Finansal Yönetim Departmanı’nda Finans Uzmanı olarak çalışmaya başladı.</p>
                <p>Daha sonra kariyerine 2010 yılından itibaren Ford Otomotiv A.Ş’de Pazarlama Bölümünde Pazarlama İletişimi Uzmanı olarak devam etti. Özellikle kampanya yönetimi, ürün fiyatlandırması, pazarlama finansı ve etkinlik yönetimi konularında uzmanlık geliştirdi.</p>
                <p>2013 yılında İlbak Holding’e geçti ve Pazarlama Departmanında, Müşteri Yönetimi Müdürü görevini üstlendi. İlbak Holding’in Kurumsal İletişim faaliyetlerinin tamamında yer alan Duygu Alptekin dijital iletişim, etkinlik yönetimi, halkla ilişkiler, marka yönetimi gibi alanlarda faaliyet gösterdi.</p>
                <p>2015 yılında TV8’de Pazarlama Departmanında Reklam Satış Müdürü olarak çalışmaya başladı. Medya planlama, medya satış, fiyatlandırma, müşteri ilişkileri yönetimi gibi alanlarda reklamverenlerle ve Medya Planlama Ajansları ile birlikte çalışmalar yürüttü.</p>
                <p>2018 Mart’tan itibaren Fikiron’da Pazarlama Direktörü olarak görev yapmaktadır.</p>
              </div>
            </li>
            <li>
              <div class="cvContent">
                <h3 class="title title-fourth">Amie Kendall</h3>
                <p>Bristol, İngiltere doğumlu Amie, dijitalin ve inovasyonun insanların yaşamlarına ve yaşam yerlerine sağladığı faydalara tutkulu. Fikiron’a katılmadan önce 8,5 senelik Accenture Digital ve Fjord tecrübeleri olan Amie, Avrupa’da ve Orta Doğu’da süren dijital dönüşüm, dijital pazarlama ve e-ticaret alanlarında uzmanlaştı.</p>
                <p>En büyük hayali evi gibi gördüğü ve çok sevdiği Türkiye’de dijitalin ve inovasyonun büyümesine katkı sağlamak olan Amie, Fikiron bünyesinde 1DMP ürününün sorumlu proje lideridir.</p>
              </div>
            </li>
          </ul>
        </section>
      </section>
    </main><!-- Footer start here -->
    <footer class="centerfix">
      <div class="container"><a class="footerLink" href="index.html"><img src="public/dist/img/fikiron-logo-gray.png" alt="Fikiron"/></a>
        <nav class="footerMenu">
          <ul>
            <li><a href="gizlilik-sozlesmesi.html" title="Gizlilik">Gizlilik</a></li>
            <li><a href="sss.html" title="Sık Sorulan Sorular">Sık Sorulan Sorular</a></li>
            <li><a href="iletisim.html" title="İletişim">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="public/dist/js/bundle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script>$('.teamDetail').addClass('animate');</script>
  </body>
</html>
