views/yatirim-basvurusu.pug
extends layout/layout

block head
	- var title = "Yatırım Başvurusu";
	- var description = "Yatırım Başvurusu";
	- var keywords = "Yatırım Başvurusu";

block content

	section.fullscreen.mainSliderWrapper.notOpacity
		.sliderOverlay
		.mainSlider.centerfix
			ul.slides
				li(style="background-image: url(" + prefix + "/img/content/about-us/slide-img.jpg)")
		.content
			h1.pageTitle Fikiron bir girişimcinin en değerli yol arkadaşıdır.
			p Yeteneği ve fikri erken keşfeden Fikiron, ilk günde kurduğu yakınlığı ‘unicorn’ zamanı geldiğinde de hissettirir –


	section.centerfix.applyNow.whiteSection
		.container
			.layoutLeftContent
				h1.title.title-second.title-line-height Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in hendrerit massa, sit amet efficitur metus. Etiam vehicula sem nec dui laoreet sodales. Mauris vel erat nec purus convallis molestie.

			.layoutRightContent
				h2.title.title-second.title-line-height HIZLI GERİ DÖNÜŞE HAZIR OLUN
				form.form
					label
						input(type="text", name="name")
						span Ad Soyad

					label
						input(type="text", name="name")
						span Eposta

					label
						input(type="text", name="name")
						span Telefon

					label.textarea
						textarea(name="name")
						span Mesajınız

					label
						input(type="file", name="file" multiple)
						span
							img(src=prefix + "/img/icon/file-icon.svg")
							| Sunum Dosyası (PDF, WORD)

					button.button.button-primary(type="submit")
						img(src=prefix + "/img/icon-arrow-right-white-small.png")
						| GÖNDER

block scripts
	script.
		$(".form").validate({
			errorLabelContainer: "#messageBox",
			highlight: function (element, errorClass, validClass) {
				$(element)
				.parents("label")
				.addClass("error")
				.removeClass("success");
			},
			unhighlight: function (element, errorClass, validClass) {
				$(element)
				.parents("label")
				.addClass("success")
				.removeClass("error");
			},
			rules: {
				name: "required",
				email: {
					required: true,
					email: true
				},
				phone: "required",
				message: "required",
				file: {
					required: true,
					extension: "pdf|doc|docx"
				}
			},
			submitHandler: function (form) {
				$(form).submit();
			}
		});

output/yatirim-basvurusu.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Yatırım Başvurusu | Fikiron</title>
    <meta name="description" content="Yatırım Başvurusu"/>
    <meta name="keywords" content="Yatırım Başvurusu"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/>
    <!-- link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")-->
    <!-- link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")-->
    <link rel="stylesheet" href="public/dist/css/style.css"/>
  </head>
  <body><!-- Header start here -->
    <header>
      <div class="container"><a class="headerLogo" href="index.html" title="Fikiron"><img src="public/dist/img/fikiron-logo-white.png"/></a>
        <!--a.sponsorLink(href="yatirim-basvurusu.html") YATIRIM BAŞVURUSU
        img(src=prefix + "/img/icon-arrow-right-white-small.png")
        
        --><a class="toggleMenu megaMenuButton" href="#"><span></span><span></span><span></span></a>
      </div>
    </header>
    <nav id="mainMenu">
      <ul>
        <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
        <li><a href="portfoy.html">PORTFÖY</a></li>
        <li><a href="takim.html">TAKIM</a></li>
        <li><a href="girisimciye-kattiklarimiz.html">GİRİŞİMCİYE KATTIKLARIMIZ</a></li>
        <li><a href="partnerlerimiz.html">PARTNERLER</a></li>
        <li class="showMobile"><a href="yatirim-basvurusu.html">YATIRIM BAŞVURUSU</a></li>
        <li><a href="iletisim.html">İLETİŞİM</a></li>
        <li><a class="social" href="#"><i class="fa fa-facebook"></i></a><a class="social" href="#"><i class="fa fa-twitter"></i></a><a class="social" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <div class="sponsorWrapper">
        <div class="center">
          <h3 class="title title-third">YATIRIM BAŞVURUSU</h3>
          <p>Fikrinizi ve işinizi büyütmek istiyorsanız, size değer katmak için hazırız.</p><a class="link" href="yatirim-basvurusu.html"><img src="public/dist/img/icon-arrow-right-orange-small.png"/></a>
        </div>
      </div>
    </nav>
    <main>
      <section class="fullscreen mainSliderWrapper notOpacity">
        <div class="sliderOverlay"></div>
        <div class="mainSlider centerfix">
          <ul class="slides">
            <li style="background-image: url(public/dist/img/content/about-us/slide-img.jpg)"></li>
          </ul>
        </div>
        <div class="content">
          <h1 class="pageTitle">Fikiron bir girişimcinin en değerli yol arkadaşıdır.</h1>
          <p>Yeteneği ve fikri erken keşfeden Fikiron, ilk günde kurduğu yakınlığı ‘unicorn’ zamanı geldiğinde de hissettirir –</p>
        </div>
      </section>
      <section class="centerfix applyNow whiteSection">
        <div class="container">
          <div class="layoutLeftContent">
            <h1 class="title title-second title-line-height">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in hendrerit massa, sit amet efficitur metus. Etiam vehicula sem nec dui laoreet sodales. Mauris vel erat nec purus convallis molestie.</p>
          </div>
          <div class="layoutRightContent">
            <h2 class="title title-second title-line-height">HIZLI GERİ DÖNÜŞE HAZIR OLUN</h2>
            <form class="form">
              <label>
                <input type="text" name="name"/><span>Ad Soyad</span>
              </label>
              <label>
                <input type="text" name="name"/><span>Eposta</span>
              </label>
              <label>
                <input type="text" name="name"/><span>Telefon</span>
              </label>
              <label class="textarea">
                <textarea name="name"></textarea><span>Mesajınız</span>
              </label>
              <label>
                <input type="file" name="file" multiple="multiple"/><span><img src="public/dist/img/icon/file-icon.svg"/>Sunum Dosyası (PDF, WORD)</span>
              </label>
              <button class="button button-primary" type="submit"><img src="public/dist/img/icon-arrow-right-white-small.png"/>GÖNDER</button>
            </form>
          </div>
        </div>
      </section>
    </main><!-- Footer start here -->
    <footer class="centerfix">
      <div class="container"><a class="footerLink" href="index.html"><img src="public/dist/img/fikiron-logo-gray.png" alt="Fikiron"/></a>
        <nav class="footerMenu">
          <ul>
            <li><a href="gizlilik-sozlesmesi.html" title="Gizlilik">Gizlilik</a></li>
            <li><a href="sss.html" title="Sık Sorulan Sorular">Sık Sorulan Sorular</a></li>
            <li><a href="iletisim.html" title="İletişim">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="public/dist/js/bundle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script>
      $(".form").validate({
      	errorLabelContainer: "#messageBox",
      	highlight: function (element, errorClass, validClass) {
      		$(element)
      		.parents("label")
      		.addClass("error")
      		.removeClass("success");
      	},
      	unhighlight: function (element, errorClass, validClass) {
      		$(element)
      		.parents("label")
      		.addClass("success")
      		.removeClass("error");
      	},
      	rules: {
      		name: "required",
      		email: {
      			required: true,
      			email: true
      		},
      		phone: "required",
      		message: "required",
      		file: {
      			required: true,
      			extension: "pdf|doc|docx"
      		}
      	},
      	submitHandler: function (form) {
      		$(form).submit();
      	}
      });
    </script>
  </body>
</html>
